.App {
  /* background-color: #f2f2f2; */
  color: #4e4a4a;
  padding: 0 20px;
}

.block {
  background: #fff;
  /* box-shadow: 2px 2px 2px rgba(0, 0, 0, .12); */
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .18);
  /* border: 1px solid #e0dfdf; */
  border-radius: 2px;
  padding: 10px 15px;
  margin: 10px 0;
}

.block.block-colored {
  border-top: 2px solid #9b59b6;
  /* padding: 10px; */
}

.muted {
  color: #797676;
}

.text-13 {
  font-size: 13px;
}

.text-italic {
  font-style: italic;
}

.text-underline {
  text-decoration: underline;
}

.cursor-pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-bold {
  font-weight: 500;
}

.filter-group {
  margin: 10px 0;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-submit-group {
  width: 100%;
  padding: 15px 0;
  text-align: right;
}

.user-avatar {
  /* max-width: 100px; */
}

.user-avatar img {
  max-width: 100px;
  /* display: block; */
}

.user-info-group {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.block-day {
  border-bottom: 1px solid #dadada;
  padding: 5px 0;
}

.block-article {
  padding: 5px;
  border: 1px solid #dadada;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.metrics-group {
  display: flex;
  justify-content: space-between;
}